.reveal {
  .b { font-weight: bold; }
  .red { color: darkred; }
  .grn { color: darkgreen; }
  .blu { color: darkblue; }

  font-size: 32px;

  h1 { font-size: 2.0em; .b; }
  h2 { font-size: 1.5em; .b; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1.0em; }
  h5 { font-size: 0.8em; }
  h6 { font-size: 0.5em; }
  table, code { font-size: 0.9em; }

  .katex-html { font-size: 0.9em; }
  .katex-display { font-size: 0.9em; }

  code { white-space: pre-wrap !important; }

  .L { display: block; margin-right: auto; }
  .C { display: block; margin: auto; }
  .R { display: block; margin-left: auto; }

  .l { text-align: left; }
  .c { text-align: center; }
  .r { text-align: right; }
  .cl { text-align: left; width: fit-content; margin: auto; }
  .rl { text-align: left; width: fit-content; margin-left: auto; }

  h1 { .c; translate: 0% 25%; }
  h2 {
    padding-bottom: 0.3em;
    line-height: 1.2;
    border-color: gray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 0.5em;
  }

  .hide { display: none; } // for code chunks

  /* for left aligned slides */
  h2, h3, h4, h5, h6 { .l }
  h4 { margin-left: 1em; }
  section {
    > p { .l; margin-left: 1em; }
    > ul, > ol, > dl { display: block; .l; margin-left: 1.5em; }
  }
}
