.reveal {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #000;

  .katex-html { font-size: 0.9em; }
  .katex-display { font-size: 0.9em; }

  .C { display: block; margin: auto; }

  .l { text-align: left; }
  .c { text-align: left; width: fit-content; margin: auto; }
  .r { text-align: left; width: fit-content; margin-left: auto; }
  .hr {
    padding-bottom: 0.3em;
    line-height: 1.2;
    border-color: gray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 0.5em;
  }

  .hide { display: none; } // for code chunks

  h1 { font-size: 2.0em; text-align: center; translate: 0% 30%; text-transform: none; }
  h2 { font-size: 1.5em; .l; .hr; }
  h3 { font-size: 1.2em; .l; }
  h4 { font-size: 1.0em; .l; }
  h5 { font-size: 0.8em; .l; }
  h6 { font-size: 0.5em; .l; }

  ul, ol, dl {
    display: block;
    text-align: left;
    margin-left: 1.5em;
  }

  p {
    text-align: left;
    translate: 3%;
  }

  pre code {
    font-size: 0.9em;
    white-space: pre-wrap !important;
  }
}
